includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    excludePaths:
        - src/Security
    ignoreErrors:
        - '#Call to an undefined method Faker#'
        -
            message: '#Call to an undefined method [a-zA-Z0-9\\_]+::getAppUser\(\)#'
            path: src/Controller/SplitterController.php
        - '#Cannot instantiate custom generator#'
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
