<h1>Bonjour</h1>

<p>
    Vous vous êtes inscrit sur notre site Kopeck !
    Il est temps de confirmer votre mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Cliquez ici pour confirmer</a>.
    Ce lien va expirer dans  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bien sur Kopeck !
</p>
