{% extends 'base.html.twig' %}

{% block title %}New Expense{% endblock %}

{% block body %}

    <main class="container-md">

        <h1>Ajouter une dépense</h1>

        <div class="mb-2">
            <a class="btn btn-primary" href="{{ path('app_splitter_show', {'id' : splitter.id }) }}"><i class="bi bi-arrow-return-left"></i>   Retour</a>
        </div>

        {{ include('expense/_form.html.twig') }}



    </main>

{% endblock %}
