{% extends 'base.html.twig' %}

{% block title %}New Expense{% endblock %}

{% block body %}

    <main class="container-md">

        <div class="d-flex justify-content-between align-items-center my-3">

            <h1>Ajouter une dépense</h1>

            <a class="nav-link" href="{{ path('app_splitter_show', {'id' : splitter.id }) }}" title="Retour">
                <i class="bi bi-arrow-return-left"></i>
            </a>

        </div>

        {{ include('expense/_form.html.twig') }}

    </main>

{% endblock %}
