<nav class="navbar navbar-light bg-light d-none d-lg-block">
    <div class="container-fluid justify-content-center align-items-center">
        <h1 class="d-flex align-items-center m-0 p-0">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img src="{{ asset('images/mainlogo1.png') }}" alt="" width="30" height="24" class="d-inline-block align-text-top">
            </a>
            <a class="navbar-brand" href="{{ path('app_home') }}">
                Splitter !
            </a>
        </h1>
    </div>
</nav>