.adminContainer {
    .head {
        display: flex;
        align-items: center;
        h1 {
            margin: 0;
            flex: 1;
        }
    }
    form {
        display: flex;
        flex: 1;
        div {
            flex: 1;
        }
    }
    .addBtn {
        display: flex;
        justify-content: center;
    }
}
