.overview {
  padding-top: 2rem;
  form {
    display: flex;
    justify-content: flex-end;
    > div {
      width: 50%;
    }
  }
  .splits {
    margin-top: 2rem;
  }
  .plus-icons {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    a {
      box-shadow: 0 0 20px 1px #48abe0;
    }

  }
}