.expenseView {
  .expense-detail {
    background-color: var(--color-card);
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  .expense-title {
    margin: 0;
    font-size: 1.8rem;
    color: var(--color-text);
    margin-bottom: 20px;
    border-bottom: 2px solid var(--color-primary);
    padding-bottom: 10px;
  }

  .expense-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .info-item {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-alt);
    padding: 15px;
    border-radius: 8px;
  }

  .info-label {
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: 5px;
  }

  .info-value {
    margin: 0;
    color: var(--color-text);
  }

  .expense-photo {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 10px;
  }

}

.expenseForm {
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
}