.sign {
  .alert {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  display: flex;
  height: 100vh;
  .sign_card {
    margin: auto;
    background-color: darken($dark, 5%);
    box-shadow: 0 -1px 40px rgba(0,0,0, .12);
    width: 100%;
    .sign_img {
      min-width: 50%;
      max-width: 50%;
      img {
        height: 100%;
        width: 100%;
        object-fit: fill;
      }
    }
    .sign_form {
      flex-grow: 1;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.sign.register {
  .sign_card {
    flex-direction: row-reverse;
  }
}