{{ form_start(form) }}
    {{ form_row(form) }}
    <div class="centerBtn">
        <button class="btn btn-primary">{{ button_label|default('Créer le splitter') }}</button>
    </div>
{{ form_end(form) }}
