{% extends 'base.html.twig' %}

{% block title %}Edit Splitter{% endblock %}

{% block body %}
    <h1>Edit Splitter</h1>

    {{ include('splitter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_splitter_index') }}">back to list</a>

    {{ include('splitter/_delete_form.html.twig') }}
{% endblock %}
