{% extends 'base.html.twig' %}

{% block title %}Edit Splitter{% endblock %}

{% block body %}

    <main class="container-md">

        <h1 class="text-center my-4">Modifier votre splitter</h1>

        <div class="mb-2">
            <a class="btn btn-primary" href="{{ path('app_home') }}"><i class="bi bi-arrow-return-left"></i>   Retour</a>
        </div>

        {% set button_label = 'Modifier' %}

        {{ component('Form:SplitterForm', {
            initialFormData: splitter,
            label: 'Modifier le Splitter',
        }) }}


    </main>

{% endblock %}
